@import '/src/global.scss';

@mixin effect-button {
	cursor: pointer;
	transition: filter .2s;

	&:hover {
		filter: brightness(1.2);
	}

	&:focus-within {
		filter: brightness(1.9);
	}
}

.timeline {
	color: $color-secondary;
	width: 100%;
	margin-bottom: 24px;

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__avatar {
		border-radius: 16px;
		width: 32px;
		height: 32px;
		margin-right: 8px;
	}

	&__description {
		flex: 1;
	}

	&__date-publish {
		color: $color-text-info;
		font-size: 14px;
	}

	&__btn-action {
		background-color: $color-primary;
		border: none;
		color: $color-secondary;
		font-size: 28px;
		padding: 5px;
		height: 24px;
		display: flex;
		align-items: center;
		border-radius: 6px;

		@include effect-button();
	}


	&__username {
		font-weight: 700;
		margin-right: 4px;
	}

	&__image {
		width: 100%;
		max-width: 400px;
		height: 400px;
		margin: 12px 0px;
	}

	&__info-reaction-comments {
		display: flex;
		justify-content: space-between;
	}

	&__reactions {
		display: flex;
		align-items: center;
	}

	&__reaction-like {
		color: #fff;
		background-color: #0082FD;
		width: 24px;
		height: 24px;
		border-radius: 12px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: #fff solid 2px;
		z-index: 10;
	}

	&__reaction-loved {
		color: #fff;
		background-color: #F14538;
		width: 24px;
		height: 24px;
		border-radius: 12px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-width: 2px;
		border: #fff solid 2px;
		margin-left: -8px;
	}

	&__reaction-amount {
		margin-left: 8px;
	}

	&__comments {
		color: $color-text-info;
	}

	&__actions {
		display: flex;
		justify-content: space-between;

	}

	&__action-button {
		border: none;
		background-color: $color-primary;
		color: $color-secondary;
		font-size: 18px;
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 12px;
		padding: 12px;
		border-top: 1px solid $color-text-info;
		@include effect-button();
	}

	&__action-text {
		margin-left: 8px;
	}
}