$color-primary: #14222D;
$color-secondary: #F5F5F5;
$color-tertiary: #395A9A;
$color-placeholder: #979797;
$color-text-info: #858A8D;

body {
	background-color: $color-primary;

}

* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
}